*{
	box-sizing: border-box;
}

html{
	font-family: Arial;
	/*background-color: #9FF7FF;*/
	color: black;
	font-size: 14px;
}

body{
	margin: 0;
}

li{
	font-size: 20px;
	display: inline-block;
	width: 24%;
	text-align: center;
}

li a{
	text-decoration: none;
	color: black;
	border: 1px solid blue;
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	background-color: rgba(255,255,255,0.5);
	transition: background-color .5s, color .5s;
}

.center{
	text-align: center;
}

li a:hover{
	background-color: #152561;
	color: white;
}

nav{
	margin-bottom: 40px;
	position: absolute;
	top: 25px;
}

nav, ul{
	width: 100%;
}

ul{
	padding: 0;
}

.banner{
	width: 100%;
	opacity: .5;

}

.banner-text{
	position: absolute;
	top: 130px;
	text-align: center;
	width: 100%;
	padding: 0 25%;
}

.inline-wrapper{
	margin-top: -3px;
}

.inline-wrapper div{
	width: 33%;
	display: inline-block;
	position: relative;
}

.inline-wrapper div img{
	width: 100%;
	height: 250px;
	transition: opacity: .5s;
}

.inline-wrapper div h4{
	position: absolute;
	top: 50%;
	opacity: 0;
	transition: opacity: .5s;
	text-align: center;
	width: 100%;
	transform: translateY(-50%);
	font-size: 40px;
	margin: 0;
}

.inline-wrapper div:hover h4{
	opacity: 1;

}

.inline-wrapper div:hover img{
	opacity: .3;
}

.table-wrapper{
	text-align: center;
}

table tr th, tr td{
	border: 1px solid #000092;
	text-align: center;
	padding: 5px;

}

.games-topic{
	text-align: center;
	margin-top: 15%;
}

table{
	margin-left: auto; 
	margin-right: auto;
	/*margin: 0 auto;*/
}



@media(max-width: 1028px){
	.banner{
		height: 380px;
		width: auto;
	}
}


.hamburger div{
	width: 30px;
	height: 5px;
	background-color: #7380E8;
	margin-top: 5px;
}

.mobile-nav{
	width: 100%;
	background-color: white;
	opacity: 0.7;
	padding: 6px;
	padding-top: 2px;
	display: none;
}

@media(max-width: 902px){
	.inline-wrapper div{
		width: 49%;
	}
	.banner{
		height: 480px;
		width: auto;
	}
}

@media(max-width: 560px){
	.inline-wrapper div{
		width: 100%;
	}

	.desk-nav{
		display: none;
	}

	.mobile-nav{
		display: block;
	}
	nav{
		top: 0;
	}
}

.container{
	padding: 0 25%;
}

.contact-topic{
	text-align: center;
}

.contact-form input, .contact-form textarea{
	margin: 10px;
	font-size: 1rem;
}

.page-top{
	margin-top: 15%;
}

.padding-free{
	padding: 0;
}