*{
	box-sizing: border-box;
}

html{
	font-family: Arial;
	/*background-color: #9FF7FF;*/
	color: #000092;
}

body{
	margin: 0;
}

li{
	font-size: 20px;
	display: inline-block;
	width: 24%;
	text-align: center;
}

li a{
	text-decoration: none;
	color: blue;
	border: 1px solid blue;
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	background-color: rgba(255,255,255,0.5);
	transition: background-color .5s, color .5s;
}

li a:hover{
	background-color: #152561;
	color: white;
}

nav{
	margin-bottom: 40px;
	position: absolute;
	top: 25px;
}

nav, ul{
	width: 100%;
}

ul{
	padding: 0;
}

.banner{
	width: 100%;
	opacity: .5;

}

.banner-text{
	position: absolute;
	top: 130px;
	text-align: center;
	width: 100%;
	padding: 0 25%;

}
.inline-wrapper{
	margin-top: -3px;
}

.inline-wrapper div{
	width: 33%;
	display: inline-block;
	position: relative;
}

.inline-wrapper div img{
	width: 100%;
	height: 250px;
	transition: opacity: .5;
}

.inline-wrapper div h4{
	position: absolute;
	top: 50%;
	opacity: 0;
	transition: opacity: .5;
	text-align: center;
	width: 100%;
	transform: translateY(-50%);
	font-size: 40px;
	margin: 0;
}

.inline-wrapper div:hover h4{
	opacity: 1;

}

.inline-wrapper div:hover img{
	opacity: .3;
}